@import url('https://fonts.googleapis.com/css?family=Nova+Square')

html
  height: 100%

body
  color: white
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%)
  font-family: 'Nova Square', cursive
  font-size: calc(0.75em + 1vmin)
  font-weight: 300
  
h1
  font-size: calc(2.25em + 1vmin)

.container
  z-index: 0
  top: 0
  left: 0
  position: fixed
  width: 100%
  overflow: hidden
  height: 100vh
  
#scene
  pointer-events: none
  height: inherit

.text-layer
  position: absolute
  
  &#p1
    top: 20vh !important
    left: 30vw !important
  &#p2
    top: 40vh !important
    left: 40vw !important
  &#p3
    top: 60vh !important
    left: 45vw !important
  
@mixin star-properties
  $size : random(3) * 1px
  $x    : random(110) * 1vw
  $y    : random(110) * 1vh
  height: $size
  width:  $size
  left: $x - 5vw
  top: $y - 5vh

.star
  display: inline-block
  border-radius: 100%
  background-color: white
  position: absolute

@for $i from 0 through 1000
  #stars-small
    .star:nth-child(#{$i})
      @include star-properties

@for $i from 0 through 50
  #stars-medium
    .star:nth-child(#{$i})
      @include star-properties

@for $i from 0 through 25
  #stars-big
    .star:nth-child(#{$i})
      @include star-properties