html {
  height: 100%;
}

body {
  color: white;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  font-family: "Nova Square", cursive;
  font-size: calc(0.75em + 1vmin);
  font-weight: 300;
}

h1 {
  font-size: calc(2.25em + 1vmin);
}

.container {
  z-index: 0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

#scene {
  pointer-events: none;
  height: inherit;
}

.text-layer {
  position: absolute;
}
.text-layer#p1 {
  top: 20vh !important;
  left: 30vw !important;
}
.text-layer#p2 {
  top: 40vh !important;
  left: 40vw !important;
}
.text-layer#p3 {
  top: 60vh !important;
  left: 45vw !important;
}

.star {
  display: inline-block;
  border-radius: 100%;
  background-color: white;
  position: absolute;
}

#stars-small .star:nth-child(0) {
  height: 3px;
  width: 3px;
  left: 77vw;
  top: 65vh;
}

#stars-small .star:nth-child(1) {
  height: 3px;
  width: 3px;
  left: 85vw;
  top: 88vh;
}

#stars-small .star:nth-child(2) {
  height: 2px;
  width: 2px;
  left: 88vw;
  top: 45vh;
}

#stars-small .star:nth-child(3) {
  height: 3px;
  width: 3px;
  left: 33vw;
  top: 10vh;
}

#stars-small .star:nth-child(4) {
  height: 3px;
  width: 3px;
  left: 98vw;
  top: 0vh;
}

#stars-small .star:nth-child(5) {
  height: 1px;
  width: 1px;
  left: 5vw;
  top: 45vh;
}

#stars-small .star:nth-child(6) {
  height: 1px;
  width: 1px;
  left: 14vw;
  top: 36vh;
}

#stars-small .star:nth-child(7) {
  height: 2px;
  width: 2px;
  left: 28vw;
  top: 57vh;
}

#stars-small .star:nth-child(8) {
  height: 2px;
  width: 2px;
  left: 47vw;
  top: 6vh;
}

#stars-small .star:nth-child(9) {
  height: 1px;
  width: 1px;
  left: 88vw;
  top: 45vh;
}

#stars-small .star:nth-child(10) {
  height: 3px;
  width: 3px;
  left: 36vw;
  top: 53vh;
}

#stars-small .star:nth-child(11) {
  height: 2px;
  width: 2px;
  left: 49vw;
  top: 66vh;
}

#stars-small .star:nth-child(12) {
  height: 2px;
  width: 2px;
  left: 80vw;
  top: 80vh;
}

#stars-small .star:nth-child(13) {
  height: 3px;
  width: 3px;
  left: 85vw;
  top: 53vh;
}

#stars-small .star:nth-child(14) {
  height: 1px;
  width: 1px;
  left: 0vw;
  top: 84vh;
}

#stars-small .star:nth-child(15) {
  height: 3px;
  width: 3px;
  left: 6vw;
  top: 9vh;
}

#stars-small .star:nth-child(16) {
  height: 1px;
  width: 1px;
  left: 99vw;
  top: 50vh;
}

#stars-small .star:nth-child(17) {
  height: 3px;
  width: 3px;
  left: 55vw;
  top: 46vh;
}

#stars-small .star:nth-child(18) {
  height: 1px;
  width: 1px;
  left: 64vw;
  top: 5vh;
}

#stars-small .star:nth-child(19) {
  height: 1px;
  width: 1px;
  left: 82vw;
  top: 22vh;
}

#stars-small .star:nth-child(20) {
  height: 3px;
  width: 3px;
  left: -1vw;
  top: 84vh;
}

#stars-small .star:nth-child(21) {
  height: 2px;
  width: 2px;
  left: 67vw;
  top: 14vh;
}

#stars-small .star:nth-child(22) {
  height: 3px;
  width: 3px;
  left: 75vw;
  top: 40vh;
}

#stars-small .star:nth-child(23) {
  height: 1px;
  width: 1px;
  left: 32vw;
  top: 56vh;
}

#stars-small .star:nth-child(24) {
  height: 1px;
  width: 1px;
  left: 5vw;
  top: 34vh;
}

#stars-small .star:nth-child(25) {
  height: 2px;
  width: 2px;
  left: 64vw;
  top: 75vh;
}

#stars-small .star:nth-child(26) {
  height: 1px;
  width: 1px;
  left: 50vw;
  top: 86vh;
}

#stars-small .star:nth-child(27) {
  height: 1px;
  width: 1px;
  left: 97vw;
  top: 80vh;
}

#stars-small .star:nth-child(28) {
  height: 3px;
  width: 3px;
  left: 58vw;
  top: 74vh;
}

#stars-small .star:nth-child(29) {
  height: 2px;
  width: 2px;
  left: 29vw;
  top: 27vh;
}

#stars-small .star:nth-child(30) {
  height: 1px;
  width: 1px;
  left: 103vw;
  top: 17vh;
}

#stars-small .star:nth-child(31) {
  height: 3px;
  width: 3px;
  left: 27vw;
  top: 76vh;
}

#stars-small .star:nth-child(32) {
  height: 3px;
  width: 3px;
  left: 80vw;
  top: 66vh;
}

#stars-small .star:nth-child(33) {
  height: 3px;
  width: 3px;
  left: 15vw;
  top: 7vh;
}

#stars-small .star:nth-child(34) {
  height: 2px;
  width: 2px;
  left: 65vw;
  top: 95vh;
}

#stars-small .star:nth-child(35) {
  height: 1px;
  width: 1px;
  left: 54vw;
  top: 68vh;
}

#stars-small .star:nth-child(36) {
  height: 1px;
  width: 1px;
  left: 16vw;
  top: 48vh;
}

#stars-small .star:nth-child(37) {
  height: 1px;
  width: 1px;
  left: 26vw;
  top: 69vh;
}

#stars-small .star:nth-child(38) {
  height: 1px;
  width: 1px;
  left: 42vw;
  top: 25vh;
}

#stars-small .star:nth-child(39) {
  height: 3px;
  width: 3px;
  left: -1vw;
  top: 38vh;
}

#stars-small .star:nth-child(40) {
  height: 3px;
  width: 3px;
  left: 65vw;
  top: 70vh;
}

#stars-small .star:nth-child(41) {
  height: 2px;
  width: 2px;
  left: 105vw;
  top: 31vh;
}

#stars-small .star:nth-child(42) {
  height: 1px;
  width: 1px;
  left: 23vw;
  top: 23vh;
}

#stars-small .star:nth-child(43) {
  height: 3px;
  width: 3px;
  left: 94vw;
  top: 49vh;
}

#stars-small .star:nth-child(44) {
  height: 1px;
  width: 1px;
  left: 45vw;
  top: 48vh;
}

#stars-small .star:nth-child(45) {
  height: 3px;
  width: 3px;
  left: 4vw;
  top: 27vh;
}

#stars-small .star:nth-child(46) {
  height: 1px;
  width: 1px;
  left: 64vw;
  top: 48vh;
}

#stars-small .star:nth-child(47) {
  height: 1px;
  width: 1px;
  left: 41vw;
  top: 27vh;
}

#stars-small .star:nth-child(48) {
  height: 3px;
  width: 3px;
  left: 98vw;
  top: 23vh;
}

#stars-small .star:nth-child(49) {
  height: 3px;
  width: 3px;
  left: 55vw;
  top: 75vh;
}

#stars-small .star:nth-child(50) {
  height: 3px;
  width: 3px;
  left: 83vw;
  top: 11vh;
}

#stars-small .star:nth-child(51) {
  height: 3px;
  width: 3px;
  left: 28vw;
  top: 72vh;
}

#stars-small .star:nth-child(52) {
  height: 2px;
  width: 2px;
  left: 2vw;
  top: 81vh;
}

#stars-small .star:nth-child(53) {
  height: 3px;
  width: 3px;
  left: 77vw;
  top: 100vh;
}

#stars-small .star:nth-child(54) {
  height: 3px;
  width: 3px;
  left: 90vw;
  top: 24vh;
}

#stars-small .star:nth-child(55) {
  height: 3px;
  width: 3px;
  left: 55vw;
  top: -3vh;
}

#stars-small .star:nth-child(56) {
  height: 1px;
  width: 1px;
  left: 4vw;
  top: 7vh;
}

#stars-small .star:nth-child(57) {
  height: 2px;
  width: 2px;
  left: 31vw;
  top: 37vh;
}

#stars-small .star:nth-child(58) {
  height: 3px;
  width: 3px;
  left: 101vw;
  top: 37vh;
}

#stars-small .star:nth-child(59) {
  height: 2px;
  width: 2px;
  left: 87vw;
  top: 45vh;
}

#stars-small .star:nth-child(60) {
  height: 1px;
  width: 1px;
  left: 71vw;
  top: 84vh;
}

#stars-small .star:nth-child(61) {
  height: 2px;
  width: 2px;
  left: 54vw;
  top: 63vh;
}

#stars-small .star:nth-child(62) {
  height: 3px;
  width: 3px;
  left: 24vw;
  top: 43vh;
}

#stars-small .star:nth-child(63) {
  height: 2px;
  width: 2px;
  left: 61vw;
  top: 6vh;
}

#stars-small .star:nth-child(64) {
  height: 2px;
  width: 2px;
  left: 59vw;
  top: 35vh;
}

#stars-small .star:nth-child(65) {
  height: 1px;
  width: 1px;
  left: 63vw;
  top: 55vh;
}

#stars-small .star:nth-child(66) {
  height: 3px;
  width: 3px;
  left: 44vw;
  top: 97vh;
}

#stars-small .star:nth-child(67) {
  height: 2px;
  width: 2px;
  left: 105vw;
  top: 51vh;
}

#stars-small .star:nth-child(68) {
  height: 2px;
  width: 2px;
  left: 24vw;
  top: 0vh;
}

#stars-small .star:nth-child(69) {
  height: 2px;
  width: 2px;
  left: 11vw;
  top: 57vh;
}

#stars-small .star:nth-child(70) {
  height: 2px;
  width: 2px;
  left: 13vw;
  top: 65vh;
}

#stars-small .star:nth-child(71) {
  height: 3px;
  width: 3px;
  left: 78vw;
  top: 24vh;
}

#stars-small .star:nth-child(72) {
  height: 1px;
  width: 1px;
  left: -1vw;
  top: 104vh;
}

#stars-small .star:nth-child(73) {
  height: 2px;
  width: 2px;
  left: 46vw;
  top: 96vh;
}

#stars-small .star:nth-child(74) {
  height: 3px;
  width: 3px;
  left: 21vw;
  top: 15vh;
}

#stars-small .star:nth-child(75) {
  height: 1px;
  width: 1px;
  left: 45vw;
  top: 81vh;
}

#stars-small .star:nth-child(76) {
  height: 3px;
  width: 3px;
  left: 10vw;
  top: 92vh;
}

#stars-small .star:nth-child(77) {
  height: 3px;
  width: 3px;
  left: 47vw;
  top: 26vh;
}

#stars-small .star:nth-child(78) {
  height: 2px;
  width: 2px;
  left: 77vw;
  top: 19vh;
}

#stars-small .star:nth-child(79) {
  height: 3px;
  width: 3px;
  left: 74vw;
  top: 47vh;
}

#stars-small .star:nth-child(80) {
  height: 3px;
  width: 3px;
  left: 37vw;
  top: 85vh;
}

#stars-small .star:nth-child(81) {
  height: 1px;
  width: 1px;
  left: 84vw;
  top: 81vh;
}

#stars-small .star:nth-child(82) {
  height: 3px;
  width: 3px;
  left: 89vw;
  top: 29vh;
}

#stars-small .star:nth-child(83) {
  height: 2px;
  width: 2px;
  left: 77vw;
  top: 68vh;
}

#stars-small .star:nth-child(84) {
  height: 2px;
  width: 2px;
  left: 77vw;
  top: 15vh;
}

#stars-small .star:nth-child(85) {
  height: 2px;
  width: 2px;
  left: 54vw;
  top: 1vh;
}

#stars-small .star:nth-child(86) {
  height: 3px;
  width: 3px;
  left: 94vw;
  top: 4vh;
}

#stars-small .star:nth-child(87) {
  height: 3px;
  width: 3px;
  left: 80vw;
  top: 77vh;
}

#stars-small .star:nth-child(88) {
  height: 1px;
  width: 1px;
  left: 39vw;
  top: 43vh;
}

#stars-small .star:nth-child(89) {
  height: 1px;
  width: 1px;
  left: 9vw;
  top: 67vh;
}

#stars-small .star:nth-child(90) {
  height: 3px;
  width: 3px;
  left: 8vw;
  top: 105vh;
}

#stars-small .star:nth-child(91) {
  height: 2px;
  width: 2px;
  left: 16vw;
  top: 67vh;
}

#stars-small .star:nth-child(92) {
  height: 3px;
  width: 3px;
  left: 96vw;
  top: 30vh;
}

#stars-small .star:nth-child(93) {
  height: 1px;
  width: 1px;
  left: 20vw;
  top: 82vh;
}

#stars-small .star:nth-child(94) {
  height: 2px;
  width: 2px;
  left: 50vw;
  top: 64vh;
}

#stars-small .star:nth-child(95) {
  height: 2px;
  width: 2px;
  left: 32vw;
  top: 47vh;
}

#stars-small .star:nth-child(96) {
  height: 1px;
  width: 1px;
  left: 86vw;
  top: 88vh;
}

#stars-small .star:nth-child(97) {
  height: 3px;
  width: 3px;
  left: 55vw;
  top: 103vh;
}

#stars-small .star:nth-child(98) {
  height: 1px;
  width: 1px;
  left: 68vw;
  top: 9vh;
}

#stars-small .star:nth-child(99) {
  height: 3px;
  width: 3px;
  left: 92vw;
  top: 95vh;
}

#stars-small .star:nth-child(100) {
  height: 3px;
  width: 3px;
  left: 38vw;
  top: 17vh;
}

#stars-medium .star:nth-child(0) {
  height: 2px;
  width: 2px;
  left: 79vw;
  top: 38vh;
}

#stars-medium .star:nth-child(1) {
  height: 1px;
  width: 1px;
  left: 14vw;
  top: 75vh;
}

#stars-medium .star:nth-child(2) {
  height: 3px;
  width: 3px;
  left: 6vw;
  top: 54vh;
}

#stars-medium .star:nth-child(3) {
  height: 1px;
  width: 1px;
  left: 91vw;
  top: 5vh;
}

#stars-medium .star:nth-child(4) {
  height: 2px;
  width: 2px;
  left: 38vw;
  top: 54vh;
}

#stars-medium .star:nth-child(5) {
  height: 2px;
  width: 2px;
  left: 88vw;
  top: 54vh;
}

#stars-medium .star:nth-child(6) {
  height: 3px;
  width: 3px;
  left: 66vw;
  top: 15vh;
}

#stars-medium .star:nth-child(7) {
  height: 2px;
  width: 2px;
  left: 61vw;
  top: 92vh;
}

#stars-medium .star:nth-child(8) {
  height: 3px;
  width: 3px;
  left: 24vw;
  top: 84vh;
}

#stars-medium .star:nth-child(9) {
  height: 2px;
  width: 2px;
  left: 74vw;
  top: -3vh;
}

#stars-medium .star:nth-child(10) {
  height: 2px;
  width: 2px;
  left: 8vw;
  top: 3vh;
}

#stars-medium .star:nth-child(11) {
  height: 1px;
  width: 1px;
  left: 62vw;
  top: 75vh;
}

#stars-medium .star:nth-child(12) {
  height: 3px;
  width: 3px;
  left: 18vw;
  top: 104vh;
}

#stars-medium .star:nth-child(13) {
  height: 3px;
  width: 3px;
  left: 51vw;
  top: 43vh;
}

#stars-medium .star:nth-child(14) {
  height: 3px;
  width: 3px;
  left: 45vw;
  top: 25vh;
}

#stars-medium .star:nth-child(15) {
  height: 3px;
  width: 3px;
  left: 91vw;
  top: 32vh;
}

#stars-medium .star:nth-child(16) {
  height: 1px;
  width: 1px;
  left: 100vw;
  top: 104vh;
}

#stars-medium .star:nth-child(17) {
  height: 3px;
  width: 3px;
  left: 14vw;
  top: 100vh;
}

#stars-medium .star:nth-child(18) {
  height: 1px;
  width: 1px;
  left: 29vw;
  top: 34vh;
}

#stars-medium .star:nth-child(19) {
  height: 1px;
  width: 1px;
  left: 90vw;
  top: 70vh;
}

#stars-medium .star:nth-child(20) {
  height: 2px;
  width: 2px;
  left: 64vw;
  top: 26vh;
}

#stars-medium .star:nth-child(21) {
  height: 3px;
  width: 3px;
  left: 51vw;
  top: 26vh;
}

#stars-medium .star:nth-child(22) {
  height: 3px;
  width: 3px;
  left: 0vw;
  top: 42vh;
}

#stars-medium .star:nth-child(23) {
  height: 3px;
  width: 3px;
  left: 12vw;
  top: 74vh;
}

#stars-medium .star:nth-child(24) {
  height: 3px;
  width: 3px;
  left: 23vw;
  top: 30vh;
}

#stars-medium .star:nth-child(25) {
  height: 2px;
  width: 2px;
  left: 59vw;
  top: 31vh;
}

#stars-medium .star:nth-child(26) {
  height: 1px;
  width: 1px;
  left: 39vw;
  top: 101vh;
}

#stars-medium .star:nth-child(27) {
  height: 3px;
  width: 3px;
  left: 96vw;
  top: 14vh;
}

#stars-medium .star:nth-child(28) {
  height: 2px;
  width: 2px;
  left: 1vw;
  top: 42vh;
}

#stars-medium .star:nth-child(29) {
  height: 2px;
  width: 2px;
  left: 83vw;
  top: 104vh;
}

#stars-medium .star:nth-child(30) {
  height: 2px;
  width: 2px;
  left: 95vw;
  top: 40vh;
}

#stars-medium .star:nth-child(31) {
  height: 3px;
  width: 3px;
  left: 76vw;
  top: 104vh;
}

#stars-medium .star:nth-child(32) {
  height: 1px;
  width: 1px;
  left: 35vw;
  top: 33vh;
}

#stars-medium .star:nth-child(33) {
  height: 2px;
  width: 2px;
  left: 8vw;
  top: 25vh;
}

#stars-medium .star:nth-child(34) {
  height: 2px;
  width: 2px;
  left: 4vw;
  top: 3vh;
}

#stars-medium .star:nth-child(35) {
  height: 1px;
  width: 1px;
  left: 35vw;
  top: 80vh;
}

#stars-medium .star:nth-child(36) {
  height: 3px;
  width: 3px;
  left: 73vw;
  top: 72vh;
}

#stars-medium .star:nth-child(37) {
  height: 3px;
  width: 3px;
  left: 73vw;
  top: 47vh;
}

#stars-medium .star:nth-child(38) {
  height: 2px;
  width: 2px;
  left: 27vw;
  top: 71vh;
}

#stars-medium .star:nth-child(39) {
  height: 1px;
  width: 1px;
  left: 47vw;
  top: 57vh;
}

#stars-medium .star:nth-child(40) {
  height: 2px;
  width: 2px;
  left: 12vw;
  top: 56vh;
}

#stars-medium .star:nth-child(41) {
  height: 1px;
  width: 1px;
  left: 67vw;
  top: 95vh;
}

#stars-medium .star:nth-child(42) {
  height: 1px;
  width: 1px;
  left: 64vw;
  top: 81vh;
}

#stars-medium .star:nth-child(43) {
  height: 1px;
  width: 1px;
  left: 21vw;
  top: 85vh;
}

#stars-medium .star:nth-child(44) {
  height: 3px;
  width: 3px;
  left: -4vw;
  top: 62vh;
}

#stars-medium .star:nth-child(45) {
  height: 3px;
  width: 3px;
  left: 89vw;
  top: 96vh;
}

#stars-medium .star:nth-child(46) {
  height: 3px;
  width: 3px;
  left: 80vw;
  top: 26vh;
}

#stars-medium .star:nth-child(47) {
  height: 2px;
  width: 2px;
  left: 26vw;
  top: 38vh;
}

#stars-medium .star:nth-child(48) {
  height: 3px;
  width: 3px;
  left: 18vw;
  top: 41vh;
}

#stars-medium .star:nth-child(49) {
  height: 2px;
  width: 2px;
  left: 58vw;
  top: 67vh;
}

#stars-medium .star:nth-child(50) {
  height: 3px;
  width: 3px;
  left: 78vw;
  top: 47vh;
}

#stars-big .star:nth-child(0) {
  height: 1px;
  width: 1px;
  left: 37vw;
  top: 78vh;
}

#stars-big .star:nth-child(1) {
  height: 1px;
  width: 1px;
  left: 67vw;
  top: 60vh;
}

#stars-big .star:nth-child(2) {
  height: 1px;
  width: 1px;
  left: 94vw;
  top: 22vh;
}

#stars-big .star:nth-child(3) {
  height: 2px;
  width: 2px;
  left: 75vw;
  top: 28vh;
}

#stars-big .star:nth-child(4) {
  height: 1px;
  width: 1px;
  left: 40vw;
  top: 72vh;
}

#stars-big .star:nth-child(5) {
  height: 3px;
  width: 3px;
  left: 31vw;
  top: 75vh;
}

#stars-big .star:nth-child(6) {
  height: 1px;
  width: 1px;
  left: 90vw;
  top: 55vh;
}

#stars-big .star:nth-child(7) {
  height: 1px;
  width: 1px;
  left: 58vw;
  top: 97vh;
}

#stars-big .star:nth-child(8) {
  height: 2px;
  width: 2px;
  left: 0vw;
  top: 64vh;
}

#stars-big .star:nth-child(9) {
  height: 2px;
  width: 2px;
  left: 55vw;
  top: 103vh;
}

#stars-big .star:nth-child(10) {
  height: 1px;
  width: 1px;
  left: 81vw;
  top: 35vh;
}

#stars-big .star:nth-child(11) {
  height: 2px;
  width: 2px;
  left: 39vw;
  top: 88vh;
}

#stars-big .star:nth-child(12) {
  height: 2px;
  width: 2px;
  left: 81vw;
  top: 91vh;
}

#stars-big .star:nth-child(13) {
  height: 2px;
  width: 2px;
  left: 44vw;
  top: 29vh;
}

#stars-big .star:nth-child(14) {
  height: 3px;
  width: 3px;
  left: 101vw;
  top: 3vh;
}

#stars-big .star:nth-child(15) {
  height: 2px;
  width: 2px;
  left: 99vw;
  top: 91vh;
}

#stars-big .star:nth-child(16) {
  height: 3px;
  width: 3px;
  left: 19vw;
  top: 72vh;
}

#stars-big .star:nth-child(17) {
  height: 2px;
  width: 2px;
  left: 65vw;
  top: 9vh;
}

#stars-big .star:nth-child(18) {
  height: 3px;
  width: 3px;
  left: 55vw;
  top: 57vh;
}

#stars-big .star:nth-child(19) {
  height: 1px;
  width: 1px;
  left: 72vw;
  top: 71vh;
}

#stars-big .star:nth-child(20) {
  height: 3px;
  width: 3px;
  left: 70vw;
  top: 101vh;
}

#stars-big .star:nth-child(21) {
  height: 3px;
  width: 3px;
  left: 36vw;
  top: 105vh;
}

#stars-big .star:nth-child(22) {
  height: 1px;
  width: 1px;
  left: 47vw;
  top: 93vh;
}

#stars-big .star:nth-child(23) {
  height: 1px;
  width: 1px;
  left: 46vw;
  top: 32vh;
}

#stars-big .star:nth-child(24) {
  height: 1px;
  width: 1px;
  left: 49vw;
  top: 36vh;
}

#stars-big .star:nth-child(25) {
  height: 1px;
  width: 1px;
  left: 16vw;
  top: 30vh;
}